* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.next-section-arrow {
  position: fixed;
  cursor: pointer;
  left: 50%;
  bottom: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(243, 243, 243, 0.781);
  animation: arrowDownJump 1.3s ease alternate infinite;
  transform: translateX(-50%);
  z-index: 100;
  transition: opacity 1.5s ease;
  opacity: 0;
  pointer-events: none;
  i {
    font-size: 40px;
  }
}
.prev-section-arrow {
  position: fixed;
  cursor: pointer;
  left: 50%;
  top: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(243, 243, 243, 0.781);
  animation: arrowUpJump 1.3s ease alternate infinite;
  transform: translateX(-50%);
  z-index: 100;
  transition: opacity 1.5s ease;
  opacity: 0;
  pointer-events: none;
  i {
    font-size: 40px;
  }
}
.nav-btn-active {
  opacity: 1 !important;
  pointer-events: all !important;
}
@import "./styles/preloader";
@import "./styles/nav";
@import "./styles/top-poster";
@import "./styles/people-inf";
@import "./styles/stats";
@import "./styles/authors";
@import "./styles/report";
