.preloader {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(165, 165, 165);
  transition: all 0.5s ease;
  z-index: 100;
  #tea1,
  #tea2,
  #tea3 {
    transform: translateY(0%);
    opacity: 0;
    animation: 3s tea infinite linear;
  }
  .preloader-text {
    position: absolute;
    left: 51%;
    bottom: 15%;
    transform: translate(-50%, -20%);
    letter-spacing: 3px;
    font-size: 30px;
    color: #4d4d4d;
    text-shadow: rgb(71, 71, 71) 0px 0px 3px;
    .dot1 {
      animation: dotType ease 1s infinite alternate 0s;
      opacity: 0;
    }
    .dot2 {
      animation: dotType 1s alternate infinite 0.3s;
    }
    .dot3 {
      animation: dotType 1s alternate infinite 0.6s;
    }
  }
}
.preload-finish {
  opacity: 0;
  pointer-events: none;
}

@keyframes tea {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  50% {
    transform: translateY(-5%);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-15%);
    opacity: 0;
  }
}
@keyframes dotType {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
